//////////Screen sizes
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;

//////////Basic Colors
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$red: rgb(255,0,0);
$green: rgb(0,255,0);
$blue: rgb(0,0,255);
$gray: rgb(128,128,128);
$gray-dark: rgb(169,169,169);
$gray-light: rgb(211,211,211);
$gray-light-extra: rgb(245,245,245);

//////////Custom Site Colors
